body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 400px;
    display: grid;
    row-gap: 20px;
}

.form {
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    padding: 30px;
}


.top-20 {
    margin-top: 20px;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
}
input {
    margin-right: 30px;
}


.display-grid{
    display: grid;
    grid-template-columns: 250px 350px;
    grid-gap: 15px;
}

.margin-top {
    margin-top: 20px;
}

.grid-button {
    grid-column-start: 1;
    grid-column-end: 2;
}

